@import '../../../../scss/variables';

.inline {
    display: inline;
}

.thumbUp {
    fill: $color-success !important;
}

.reviewContent {
    margin-top: 16px !important;
    color: $color-text-primary !important;
}

.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    color: $color-text-primary !important;

    br {
        content: "";
    }
    br::after {
        content: " ";
    }

    font-size: 0.875rem !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.57 !important;
    letter-spacing: 0.00714em !important;
}
