@import '../../../../scss/variables';

.inline {
    display: inline;
}

.thumbUp {
    fill: $color-success !important;
}

.reviewContent {
    margin-top: 16px !important;
    color: $color-text-primary !important;

    figure {
        margin-top: 16px;
        width: auto !important;
    }

    img {
        max-width: 100% !important;
    }

    figcaption {
        margin: 8px 0 16px 0;
        font-style: italic;
    }

    iframe {
        display: none;
    }

    blockquote {
        font-style: italic;
        font-weight: bold;
        margin: 16px 0;
        font-size: 16px;
        display: flex;
    }

    blockquote::before {
        content: '"';
        color: $color-danger;
        font-size: 32px;
        padding-right: 16px;
    }

    p {
        margin-bottom: 8px;
    }
}
