@import '../../../scss/variables';

.redColorPrimary {
    background-color: #ffcdd2 !important;
}
.redBarColorPrimary {
    background-color: $color-danger !important;
}

.yellowColorPrimary {
    background-color: #fff9c4 !important;
}
.yellowBarColorPrimary {
    background-color: $color-warning !important;
}

.greenColorPrimary {
    background-color: #c8e6c9 !important;
}
.greenBarColorPrimary {
    background-color: $color-success !important;
}

.contentOverlay {
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px;
}

.ratingText {
    padding-top: 16px;
}