.redColorPrimary {
    background-color: #ffcdd2 !important;
}
.redBarColorPrimary {
    background-color: #b71c1c !important;
}

.yellowColorPrimary {
    background-color: #fff9c4 !important;
}
.yellowBarColorPrimary {
    background-color: #f9a825 !important;
}

.greenColorPrimary {
    background-color: #c8e6c9 !important;
}
.greenBarColorPrimary {
    background-color: #1b5e20 !important;
}

.contentOverlay {
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px;
}

.ratingText {
    padding-top: 16px;
}