@import '../../../scss/variables';

.avatar {
    margin: auto;
    width: 120px !important;
    height: 120px !important;
    background-color: $color-primary !important;

    .icon {
        height: 5em;
        width: 5em;
    }
}

.icon {
    position: relative;
    top: 5px;
    margin-right: 6px;
}
