@import '../../../scss/variables';

.inline {
    display: inline;
}

.thumbUp {
    fill: $color-success !important;
}

.reviewContent {
    margin-top: 16px !important;
    color: $color-text-primary !important;
}

.avatar {
    background-color: $color-primary !important;
}