//----------------------------------------
// Breakpoints
//----------------------------------------
$desktop: 1024px;
$tablet: 768px;

//----------------------------------------
// Layout
//----------------------------------------
$max-width: 1490px;

//----------------------------------------
// Colors
//----------------------------------------
$color-text: #15263c;


$color-primary: #3f51b5
